/* start */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
:root {
    --color-white: #ffffff;
    --color-bg-color: #d9d9d9;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
}

header{
    font-family:  'Nerko One', cursive;
    color: #fa961a;
    align-items: center;
}

.border{
    border: 1px solid black;
}
/* header */

header h1{
    padding: 10px 20px;
    text-shadow: 1px 1px 1px var(--color-black);
    letter-spacing: 3px;
    font-size: 48px;
}

/* main */
.container{
    width: 1160px;
    margin: 0 auto;
    padding: 20px;
}
main h1{
    margin: 20px 0px;
    color:#4e3969;
    font-size: 42px;
}
.inner-container{
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.container-inner-txt{
    width: 35%;
}

.container-inner-img{
    width: 65%;
}

main h3{
    padding: 20px 30px;
}
.ul-ricetta li{
    padding: 10px 30px;
}

.opacità{
    color: #d9d9d9;
    text-transform: uppercase;
    word-spacing: 8px;
}

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
    text-decoration: none;
    list-style: none;
}
.social li{
    background-color: var(--color-white);
    border: 1px solid black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 200px;
    height: 30px;
}
.social a{
    color: var(--color-black);
    text-transform: uppercase;
}

main h2{
    font-size: 34px;
    color: var(--color-dark-text);
    text-transform: uppercase;
}

.hr{
    width: 100px;
    height: 1px;
    border: 2px solid var(--color-contrast);
}

.float{
    height: auto;
    width: 400px;
    float: left;
    margin-right: 20px;
}
    
.box{
    margin-top: 30px ;
    align-items: center;
    display: inline-block;
}
.d-wrap{
    text-wrap: wrap;
}

.p{
    line-height: 1.6;
    word-spacing: 3px;
    text-align: justify;
}
.w-100{
    width: 100%;
}
@media screen and (max-width: 576px) {
    header{
        display: flex;
        align-items: center;
    }
    .fantasma{
        display: none;
    }
    .inner-container{
        flex-direction: column;
    }
    .container-inner-img{
        width: 100%;
    }
    .container-inner-txt{
        width: 100%;
        padding-bottom: 40px;
    }
    .social{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .social li{
        width: 50px;
    }
    .last-section{
        margin-top: 40px;
    }
    .box{
        display: flex;
        flex-direction: column;
    }
    .p{
        padding: 20px;
    }
    .centratura{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}